acme_challenge_type: dns-01
acme_version: 2
acme_email: your-team@example.com

# Uncomment this section for production letsencryt servers
acme_directory: https://acme-v02.api.letsencrypt.org/directory
acme_account_key: account/prd-account.key

# Uncomment this section for staging letsencrypt servers
# acme_directory: https://acme-staging-v02.api.letsencrypt.org/directory
# acme_account_key: account/stg-account.key

dnsmadeeasy_api_key: REPLACE_WITH_API_KEY
dnsmadeeasy_secret_key: REPLACE_WITH_SECRET_KEY

domain_name: app.example.com

# Subject Alternative Names (SANs) - additional domains to include in the certificate
# Leave empty list if you only need the primary domain_name
subject_alt_name:
  - app.example.com
  - app-alt1.example.com
  - app-alt2.example.com
